.why-us-container {
	width: 90%;
	background: var(--black);
	flex-shrink: 0;
	margin-top: -150px;

	&-gradient-container {
		text-align: center;
		height: 80px;
		width: 428px;
		background: linear-gradient(
			180deg,
			#8d93d4 0%,
			rgba(255, 255, 255, 0) 100%
		);

		opacity: 0.4;
		filter: blur(77px);
		margin: auto;
		margin-bottom: 0;
		// margin-top: 115px;
	}

	&-container {
		width: 88%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&-title-line {
		text-align: center;
		color: white;
		font-size: 60px;
		font-style: normal;
		line-height: normal;
		mix-blend-mode: difference;
	}

	&-heading-desc {
		margin-top: 48px;
		width: 938px;
		color: #c4c4c4;
		text-align: center;
		font-style: normal;
		line-height: normal;
	}

	&-cards-container {
		width: 100%;
		margin-top: 80px;
	}

	&-cards-item-1 {
		margin-bottom: 15px;
		gap: 30px 20px;
	}

	&-cards-items-2 {
		margin-top: 25px;
		gap: 30px 10px;
	}

	&-why-us-hr {
		text-align: center;
		width: 800px;
		height: 2px;
		border: none;
		margin: auto;
		margin-top: 100px;
		color: linear-gradient(
			90deg,
			rgba(125, 225, 181, 0.01) 0%,
			#7de1b5 47.4%,
			rgba(125, 225, 181, 0) 100%
		);
		opacity: 0.6;
		background: linear-gradient(
			90deg,
			rgba(125, 225, 181, 0.01) 0%,
			#7de1b5 47.4%,
			rgba(125, 225, 181, 0) 100%
		);
	}
}
