@import "@/styles/config/mixins";
@import "@/styles/config/typography";

.testimonial-card-container {
	overflow: hidden;
	width: 360px;
	height: 212px;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	gap: 30px;
	flex-shrink: 0;
	padding: 20px;
	text-align: left;
	// border-radius: 20px;
	// border: 0.5px solid var(--theme-primary);
	border-radius: 20px;
	border: 0.5px solid #3a3e6f;
	background: linear-gradient(
		180deg,
		rgba(58, 62, 111, 0.2) 0.03%,
		rgba(58, 62, 111, 0) 108.52%
	);
	box-shadow:
		8px 8px 24px 0px rgba(255, 255, 255, 0.05) inset,
		-8px -8px 24px 0px rgba(255, 255, 255, 0.05) inset;

	&-testimonials-header {
		display: flex;
		flex-direction: row-reverse;
		gap: 0;
	}

	&-img-container {
		position: relative;
		// width: 100%;
		// height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-img-bg {
		position: relative;
		width: 90px;
		top: -28px;
		right: -85px;
	}

	&-header-img {
		position: relative;
		top: -30px;
		right: -10px;
		width: 60px;
		height: 60px;
		flex-shrink: 0;
	}

	&-header-contents {
		position: relative;
		left: 70px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&-header-name {
		font-size: 18px;
		line-height: normal;
		text-transform: capitalize;
	}

	&-header-hr {
		width: 233px;
		height: 1px;
		border: none;
		background: linear-gradient(
			270deg,
			rgba(4, 217, 255, 0) 0%,
			rgba(4, 217, 255, 0.6) 50.83%,
			rgba(4, 217, 255, 0) 99.58%
		);
	}

	&-header-logos {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		gap: 16px;
	}

	// &-header-arrow {
	// 	font-weight: bold;
	// 	color: var(--theme-primary);
	// }

	&-user-course {
		color: #c4c4c4;
		font-weight: 500;
		line-height: normal;
		text-transform: capitalize;
	}

	&-testimonial-text {
		margin-top: -13%;
		text-transform: capitalize;
	}
}
