@import "@/styles/config/mixins";
@import "@/styles/config/typography";

.threads-container {
	width: 85%;
	text-align: center;
	margin: auto;

	@include responsive(phone) {
		width: 92%;
	}

	&-gradient-container {
		text-align: center;
		height: 80px;
		width: 428px;
		background: linear-gradient(
			180deg,
			#696d60 0%,
			rgba(255, 255, 255, 0) 100%
		);
		opacity: 0.4;
		filter: blur(77px);
		margin: auto;
		margin-bottom: 0;
		// margin-top: 115px;
	}

	&-header {
		margin-top: -80px;
		text-align: center;
	}

	&-title-line {
		color: #fff;
		text-align: center;
		font-size: 60px;
		font-style: normal;
		line-height: normal;
		mix-blend-mode: difference;

		@include responsive(phone) {
			font-size: 24px;
			letter-spacing: 0.96px;
		}
	}

	&-cards-container {
		margin-top: 40px;
	}

	&-threads-hr {
		text-align: center;
		width: 800px;
		height: 2px;
		border: none;
		margin: auto;
		margin-top: 100px;
		color: linear-gradient(
			90deg,
			rgba(105, 109, 96, 0.01) 0%,
			#696d60 47.4%,
			rgba(105, 109, 96, 0) 100%
		);
		opacity: 0.6;
		background: linear-gradient(
			90deg,
			rgba(229, 155, 134, 0.01) 0%,
			#e59b86 47.4%,
			rgba(229, 155, 134, 0) 100%
		);
	}
}
