@import "@/styles/config/mixins";
@import "@/styles/config/typography";

.course-container {
	width: 100%;
	background: var(--black);
	flex-shrink: 0;
	margin-top: -80px;
	// position: static;

	&-gradient-container {
		text-align: center;
		height: 80px;
		width: 428px;
		background: linear-gradient(
			180deg,
			#04d9ff 0%,
			rgba(255, 255, 255, 0) 100%
		);
		opacity: 0.4;
		filter: blur(77px);
		margin: auto;
		margin-bottom: 0;
		// margin-top: 115px;

		@include responsive(phone) {
			background: linear-gradient(
				0deg,
				#04d9ff 0%,
				rgba(255, 255, 255, 0) 100%
			);
		}
	}

	&-container {
		width: 92%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&-title-line {
		text-align: center;
		color: white;
		font-size: 60px;
		font-style: normal;
		line-height: normal;
		mix-blend-mode: difference;
	}

	&-cards-container {
		width: 100%;
		margin-top: 80px;
	}

	&-cards-items {
		gap: 40px 20px;
	}

	&-courses-hr {
		text-align: center;
		width: 800px;
		height: 2px;
		border: none;
		margin: auto;
		margin-top: 100px;
		color: linear-gradient(
			90deg,
			rgba(141, 147, 212, 0.01) 0%,
			#8d93d4 47.4%,
			rgba(141, 147, 212, 0) 100%
		);
		opacity: 0.6;
		background: linear-gradient(
			90deg,
			rgba(141, 147, 212, 0.01) 0%,
			#8d93d4 47.4%,
			rgba(141, 147, 212, 0) 100%
		);
	}
}
