.why-us-card3 {
	z-index: 1;
	position: relative;
	overflow: hidden;
	width: 540px;
	height: 540px;
	border-radius: 40px;
	background-color: black;

	&-container {
		width: 100%;
		height: 100%;
		position: relative;
		border-radius: 40;
		overflow: hidden;
		border: 0.5px #696d60 solid;
	}

	&-top-gradient {
		width: 540px;
		height: 363px;
		left: 0px;
		top: 0px;
		position: absolute;
		opacity: 0.5px;
		opacity: 0.5;
		background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0) 58.54%,
				#09090b 100%
			),
			radial-gradient(
				98.54% 98.51% at 50% 44.26%,
				rgba(105, 109, 96, 0) 0%,
				#696d60 100%
			);

		filter: blur(30px);
	}

	&-card-desc {
		left: 40px;
		top: 376px;
		position: absolute;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 16px;
		display: inline-flex;
	}

	&-card-title {
		color: white;
		word-wrap: break-word;
	}

	&-card-subtitle {
		width: 426px;
		color: #c4c4c4;
		word-wrap: break-word;
	}
}
